
.icon-globe:before { content: '\e800'; } /* '' */
.icon-compass:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */